.commandsRow {
    margin-bottom: 1em;
}

form {
    margin: 1em;
    display: block;
    background-color: beige;
    padding: 10px;
}

form.hidden {
    display: none;
}

.mdl-textfield {
    padding-right: 10px;
    width: 200px; /* overwrite mdl */
}